body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #333;
}

.App {
  width: 800px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header .menu {
  position: absolute;
  top: 10px;
  right: 0px;
}

.header .link {
  border: 1px solid #333;
  padding: 10px;
  margin-left: 10px;
  background-color: #efefef;
  font-weight: bold;
  border-radius: 4px;
}

/* Three values: flex-grow | flex-shrink | flex-basis */
.list_day {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
}

.list_day a,
td a {
  color: white;
  margin-left: 10px;
  flex: 15% 0 0;
  box-sizing: border-box;
  padding: 15px 0;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #ffc107;
  font-weight: bold;
}
.list_day a:hover {
  background-color: #ffecb3;
  color: #caae53;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  width: 25%;
  height: 70px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 26px;
}

table tr.off {
  background-color: #ffffe5;
  color: #ccc;
  opacity: 0.8;
}

table td:first-child {
  width: 10%;
}

button.normal,
button.danger {
  color: white;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 8px 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #ffc107;
  font-weight: bold;
  font-size: 16px;
}

button.danger {
  background-color: #ff6f00;
}

button:hover {
  opacity: 0.8;
}
